#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
}

.outer {
  color: white;
  margin-bottom: 10px;
}

.colors-list {
  align-items: center;
}

ul {
  padding-left: 0px;
}

li {
  list-style-type: none;
}

li:hover {
  cursor: pointer;
}